.navbarn{
    width: 27%;
    height: 100vh;
    align-items: start;
    padding:3%;
    position: fixed;
    top: 10vh;
    z-index: 8;
    box-shadow: 1px 1px 5px rgb(202, 202, 202) ;
    background: rgb(243, 243, 243);
   
}

.darkn{
    width: 27%;
    height: 100vh;
    align-items: start;
    background-color: black;
    padding:3%;
    position: fixed;
    top: 10vh;
    z-index: 8;
    box-shadow: 1px 1px 5px rgb(73, 47, 47) ;
    color: white;
}

ul li{
    line-height: 4rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
}

.navbartwo{
    position: fixed;
    bottom: 10px;
}